@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-background {
  fill: #f4f7f7;
}

.highcharts-color-0 {
  fill: #881600;
  stroke: none;
}





html, body {
  width: 90%;
  margin: 0 auto;
  background: #f4f7f7;
}

body {
  font-family: 'Yatra One', cursive;
  color: #274c5e;
}

#images {
  width: 90%;
}

#flickrImg {
  width:100%;
}

.highcharts-root {
    font-family: 'Yatra One', cursive !important;
}

#charts {
  width: 100%;
  height: 300px;
  display: flex;
}

#barChart {
  height: 300px;
  border: 1px solid #000;
  flex-basis: 80%;
}

#pieChart {
  height: 300px;
  border: 1px solid #000;
  flex-basis: 10%;
}