html, body {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: 'Yatra One', cursive;
}


#barChart {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  margin: 20px 0;
}

#pieChart {
  width: 100%;
  height: 600px;
  border: 1px solid #000;
}